@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --redcolor: #f7073b;
    --greencolor: #63b82c;
    --basiquefont: 'Nunito Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/bg.jpg);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


header img {
    width: 18%;
}

header h1 {
    font-weight: 700;
    color: var(--redcolor);
    font-family: var(--basiquefont);
}

nav {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #f7073b;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    color: white;
    padding: 10px 50px;
    text-transform: capitalize;
    font-family: var(--basiquefont);
}

main {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main h2 {
    display: flex;
    font-size: 2.3em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: var(--basiquefont);
}

main img {
    width: 100%;
}

main p {
    margin: 20px 0px;
    font-family: var(--basiquefont);
}

footer {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

footer img {
    width: 5%;
    margin-top: 20px;
}

footer p {
    text-transform: capitalize;
    font-family: var(--basiquefont);
}

/* ----------------------------------------------------------- */

.dnone {
    text-decoration: none;
    color: white;
}


#ulnews {
    display: none;
}

#newsli:hover {
    color: var(--redcolor);
    background-color: var(--greencolor);
}

#newsli:hover #ulnews {
    left: 0;
    top: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: baseline;
    justify-content: center;
    background-color: var(--greencolor);
}

#newsli:hover #ulnews li ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#newsli:hover #ulnews li ul h2 {
    color: black;
}



#ulgallery {
    display: none;
}

#galleryli:hover {
    color: var(--redcolor);
    background-color: var(--greencolor);
}

#galleryli:hover #ulgallery {
    left: 0;
    top: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: baseline;
    justify-content: center;
    background-color: var(--greencolor);
}

#galleryli:hover #ulgallery li ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#galleryli:hover #ulgallery li ul h2 {
    color: black;
}



#ulpress {
    display: none;
}

#pressli:hover {
    color: var(--redcolor);
    background-color: var(--greencolor);
}

#pressli:hover #ulpress {
    left: 0;
    top: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: baseline;
    justify-content: center;
    background-color: var(--greencolor);
}

#pressli:hover #ulpress li ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pressli:hover #ulpress li ul h2 {
    color: black;
}


#ulcontact {
    display: none;
}

#contactli:hover {
    color: var(--redcolor);
    background-color: var(--greencolor);
}

#contactli:hover #ulcontact {
    left: 0;
    top: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: baseline;
    justify-content: center;
    background-color: var(--greencolor);
}

#contactli:hover #ulcontact li ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contactli:hover #ulcontact li ul h2 {
    color: black;
}